* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /*Ajout pour curseur*/
  padding: 0;
  cursor: none;
  overflow: hidden;
}

.container {
  width: 500px;
  border: 3px solid #110101;
  box-shadow: 0px 0px 15px 5px rgb(52, 47, 47),
    0px 0px 15px 5px rgb(255, 25, 0) inset;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  margin-bottom: 20px;
}

button {
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;
  cursor: none;
  margin: 0 3px;
  outline: 0;
  box-shadow: 0px 0px 3px 2px rgb(52, 47, 47),
    0px 0px 3px 2px rgb(255, 25, 0) inset;
  transition: all 0.2s ease-out;
}

button:after {
  padding: 5px 15px;
  border: 0px;
  border-radius: 5px;
  cursor: none;
  margin: 0 3px;
  outline: 0;
  box-shadow: 0px 0px 3px 2px rgb(52, 47, 47),
    0px 0px 3px 2px rgb(255, 25, 0) inset;
  transition: all 0.5s ease-out;
}
button:hover {
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0px);
}

button.cliked:after {
  opacity: 3;
}

input {
  padding: 8px 15px;
  outline: 0;
  color: #070101;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* test input plus foncé */
input:hover {
  background-color: #fad2d2;
  color: #070101;
  border: 1px solid rgb(8, 0, 0);
}

.edit-input-hover {
  background-color: #eee;
  color: #070101;
}
/* test curseur*/
.cursor {
  width: 20px;
  height: 20px;
  border: 5px dashed rgb(233, 154, 154);
  border-radius: 50%;
  position: absolute;
  animation: Anim1 3s infinite alternate;
  pointer-events: none;
}

.cursor::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: rgb(14, 1, 3);
  border-radius: 50%;
}

.expand {
  animation: Anim2 0.5s;
  background: rgb(208, 16, 45);
  border: 1px solid rgb(232, 6, 55);
}
@keyframes Anim1 {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(0.7) rotate(190deg);
  }
}

@keyframes Anim2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* fin test curseur */
form input {
  flex: 1;
  margin-right: 15px;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

li input {
  flex: 1;
}

li p {
  flex: 1;
}

li .todo {
  flex: 0 0 20px;
  height: 20px;
  border-radius: 30px;
  margin-right: 15px;
  border: 2px solid #333;
}

li .todo.done {
  background: #333;
}
